{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
<script src="{% static "googleAnalytics/js/raphael-min.js" %}"></script>
<script src="{% static "googleAnalytics/js/g.raphael-min.js" %}"></script>
<script src="{% static "googleAnalytics/js/g.dot-min.js" %}"></script>
<script>
window.onload = function () {
    var r = Raphael("chart"),
        xs = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23],
        ys = [7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        data = {{ dot_chart_data }},
        axisy = ["Sat", "Fri", "Thu", "Wed", "Tue", "Mon", "Sun"],
        axisx = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23"];

    r.dotchart(10, 10, 620, 260, xs, ys, data, {symbol: "o", max: 10, heat: true, axis: "0 0 1 1", axisxstep: 23, axisystep: 6, axisxlabels: axisx, axisxtype: " ", axisytype: " ", axisylabels: axisy}).hover(function () {
        this.marker = this.marker || r.tag(this.x, this.y, this.value, 0, this.r + 2).insertBefore(this);
        this.marker.show();
    }, function () {
        this.marker && this.marker.hide();
    });
};
</script>
{% endblock %}

{% block content %}

{% if form.errors %}
    <p>There is a problem with the form. It could be one of the following issues:</p>
    <ol>
        <li>Dates must be in the form of YYYY-MM-DD.</li>
        <li>The end date cannot be before the start date</li>
    </ol>
{% else %}
    <p>Select a start and end date to generate a dot chart for.</p>
{% endif %}

<form method="post" action="{% url "googleAnalytics.views.dot_chart" %}">{% csrf_token %}
    <table>
        <tr>
            <td>{{ form.start_date.label_tag }}</td>
            <td>{{ form.start_date }}</td>
        </tr>
        <tr>
            <td>{{ form.end_date.label_tag }}</td>
            <td>{{ form.end_date }}</td>
        </tr>
    </table>
    <input type="submit" value="query database" />
</form>

<div id="chart"></div>

<div id="results">
{% if dot_chart_data %}
    <p>{{ dot_chart_data }}</p>
{% else %}
    <p>NO DATA</p>
{% endif %}
</div>

<a href="{% url "googleAnalytics.views.hit_api" %}">Add more data from api</a>

{% endblock %}
